<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mids.paper_solution4443">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Paper_solution">
        <activity android:name=".Question10.Question_10"></activity>
        <activity android:name=".Question9.Question_9" />
        <activity android:name=".Question8.Question_8" />
        <activity android:name=".Question7.Question_7" />
        <activity android:name=".Question6.Question_6" />
        <activity android:name=".Question5.Question_5" />
        <activity android:name=".Second_Activity" />
        <activity android:name=".Question4.Question_4" />
        <activity android:name=".Question3.Question_3" />
        <activity android:name=".Question2.Question_2" />
        <activity android:name=".Question1.Question_1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>